<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title>{% block title %}{% endblock %}</title>

    <!--[if gt IE 9]><!-->
      {{ "app.css" | asset_url | stylesheet_tag }}
    <!--<![endif]-->

    <!--[if IE 9]>
      {{ "ie9.css" | asset_url | stylesheet_tag }}
    <![endif]-->

    <!--[if IE 8]>
      {{ "ie8.css" | asset_url | stylesheet_tag }}
    <![endif]-->

    <!--[if IE 7]>
      {{ "ie7.css" | asset_url | stylesheet_tag }}
    <![endif]-->

  </head>
  <body>

    {% include "header" %}

    <div class="wrap">

    </div>
    <!-- // .wrap -->

    {% include "footer" %}
    <script>
  WebFontConfig = {
    google: { families: [ 'Open+Sans:800:latin', 'Gentium+Book+Basic:400,400italic,700,700italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  </body>
</html>