// global button styles

// we used the %btn placeholder as the basis for buttons (input, button and a element) and then, using a modifier, set the properties

%btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: $button-padding;
  margin-bottom: 0;
  *margin-left: .3em;
  font-weight: normal;
  font-family: $button-font-family;
  line-height: $base-line-height;
  color: $button-color;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: $button-background-color;
  border: $button-border-width $button-border-style $button-border-color;
  border-bottom-color: $button-bottom-border-color;
  border-radius: $button-border-radius;
  cursor: pointer;
  text-transform: uppercase;
  @include transition(all .3s);

  &:hover, &:active {
    background: lighten($button-background-color, 10%);
    text-decoration: none;
  }
}

.btn--black {
  @extend %btn;
  background-color: $off-black;
  border: $button-border-width $button-border-style $black;
  border-bottom-color: $black;
  color: $white;

  &:active, &:hover {
  background-color: lighten($off-black, 20%);
  color: $white
  }
}
